html[theme="dark"] {
    // 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
    @import "~bootstrap/scss/functions";

    @import "../includes/functions";

    // 2. Include any default variable overrides here
    $primary: #df6668;
    $secondary: shift-color($primary, -10%);
    $tertiary: shift-color($primary, -40%);

    $success: #94ce9c;
    $info: #67a9ed;
    $warning: #ffd69f;
    $danger: #eb999a;

    $body-bg: #121212;
    $body-color: #ffffff;

    // -- Cards

    $card-bg: #1e1e1e;
    $card-border-color: #1e1e1e;

    $theme-colors: (
        "primary": $primary,
        "secondary": $secondary,
        "tertiary": $tertiary,
        "success": $success,
        "danger": $danger,
        "info": $info,
        "warning": $warning
    );

    // 3. Include remainder of required Bootstrap stylesheets
    @import "~bootstrap/scss/variables";
    @import "~bootstrap/scss/mixins";

    // 4. Include any optional Bootstrap components as you like
    @import "../includes/styles";
}
